{% extends "base.html" %}

{% block title %}
    Data Description
{% endblock %}

{% block styles %}
    <style>
        .container {
            margin: 20px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Data Description</h1>
        <p>
            Here you can describe the tables from your database to improve the capabilities of the chat ai. You can also provide a brief description of the columns in each table.
        </p>

        <button id="table">Send</button>

        <script>
            document.getElementById("table").addEventListener("click", () => {
                fetch("http://localhost:8001/api/data-description",
                    {
                        method: "GET",
                        headers: { "Content-Type": "application/json" },
                    }
                ).then(response => console.log(response))
            });
            
        </script>
        
    </div>
{% endblock %}