{% extends "base.html" %}

{% block title %}
    Data Description
{% endblock %}

{% block styles %}
    <style>
        .container {
            margin: 20px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Data Description</h1>
        <p>
            Here you can select the tables the ai uses as its data source. You can also provide a brief description of the tables and its columns.
        </p>

        <!-- <button id="table">Send</button> -->
        <br>

        <h2>Add Table</h2>
        <form action="/data-description/" method="POST" style="display: flex; align-items: center; gap: 15px;">
            {% csrf_token %}
            <select name="table_name" style="padding: 3px 10px;">
                {% for table in inactive_tables %}
                    <option value="{{ table }}">{{ table }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>

        <br>
        <br>
        <h2>Active Tables</h2>

        <!-- <form action="/data-description/" method="POST">
            {% csrf_token %}
            <input type="text" name="table" placeholder="Table name">
            <input type="text" name="description" placeholder="Table description">
            <input type="submit" value="Send">
        </form>

        <div style="display: flex; flex-direction: column; gap: 10px;">
            <div class="table-item" style="display: flex; align-items: center; gap: 10px;">
                <p>meteo_prcp</p>
                <textarea>Percipitation data</textarea>
            </div>
            <div class="table-item" style="display: flex; align-items: center; gap: 10px;">
                <p>meteo_prcp</p>
                <textarea>Percipitation data</textarea>
            </div>
        </div>

        <script>
            document.getElementById("table").addEventListener("click", () => {
                fetch("http://localhost:8001/api/data-description",
                    {
                        method: "GET",
                        headers: { "Content-Type": "application/json" },
                    }
                )
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                })
                .catch(error => {
                    console.error(error);
                });
            });
            
        </script> -->
        
    </div>
{% endblock %}